.app_container {
  display: grid;
  grid-template-rows: 150px auto ;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.app_header {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}


.app_main_section {
  width: 33.33%;
  background-color: tomato;
  margin: 20px;
}